﻿<div class="modal fade" id="modalImportarParadero">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form id="formSubirExcelParadero" enctype="multipart/form-data">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h6 class="modal-title" id="modalImportarTitulo">Registro</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label><strong>Ruta</strong></label>
                        <select class="form-control" id="selectRutaImportar" onchange="getRecorridoXRutaImportar();"></select>
                    </div>

                    <div class="form-group">
                        <label><strong>Lado</strong></label>
                        <select class="form-control form-control-sm" id="selectLadoImportar"></select>
                    </div>


                    <div class="form-group custom-file">
                        <input type="file" name="programacionArchivo" class="custom-file-input" onchange="subirArchivoParadero($(this))" id="archivoSubido" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                        <label class="custom-file-label" id="lblArchivoSubido" for="archivoSubido">Seleccionar Archivo</label>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="btnSubirArchivo" class="btn btn-info" type="submit">
                        Subir archivo
                    </button>
                    @*<button class="btn btn-info" type="submit" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Subiendo...
                        </button>*@
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var ARCHIVOS_PERMITIDOS = {
        EXCEL: 'xlsx'
    }

    function importarParaderos() {

        $('#archivoSubido').val('');
        $('#lblArchivoSubido').text('Seleccionar Archivo');

        $('#selectRutaImportar').empty();
        var rutaSeleccionada = $('#selectRuta').val();
        var textoRutaSeleccionada = "Importar en " + $('#selectCorredores option:selected').text() + ' ' + $('#selectRuta option:selected').text();
        $('#modalImportarTitulo').text(textoRutaSeleccionada);
        var dataSelectRuta = $('#selectRuta').find('option').clone();
        $('#selectRutaImportar').append(dataSelectRuta);
        $('#selectRutaImportar').val(rutaSeleccionada);
        getRecorridoXRutaImportar();
        $('#modalImportarParadero').modal('show');
    }

    function subirArchivoParadero(element) {
        var nombreArchivo = element.val().split("\\").pop();
        var extensionArchivo = nombreArchivo.split('.')[1];
        element.siblings(".custom-file-label").html('');
        if (extensionArchivo == ARCHIVOS_PERMITIDOS.EXCEL) {
            $('#modalImportarParadero .modal-footer .btn-success').prop('disabled', false);
            element.siblings(".custom-file-label").addClass("selected").html(nombreArchivo);
        } else {
            element.siblings(".custom-file-label").addClass("selected").html("Seleccionar Archivo");
            $('#modalImportarParadero .modal-footer .btn-success').prop('disabled', true);
            Swal.fire({
                type: 'error',
                title: 'El archivo ' + nombreArchivo + ' no tiene el formato correcto.',
                showConfirmButton: false,
                timer: 2500
            })
        }
    }

</script>