﻿
<div class="modal fade" id="modalMuestraParaderos">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h6 class="modal-title">Registro</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div id="divMapa" style="width:1000px;height:600px;">

                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="btnSubirArchivo" class="btn btn-info" type="submit">
                        Subir archivo
                    </button>
                    @*<button class="btn btn-info" type="submit" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Subiendo...
                        </button>*@
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>

        </div>
    </div>
</div>
