﻿

<div class="modal fade" id="modalEditarRuta">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title" id="tituloDialog">Editar Ruta</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="width:310px;font-weight:100;">
                <div class="row">
                    <div class="col-md-12" style="display: none">
                        <input id="txtIdRutaE" name="ID_RUTA" autofocus style="width:100% !important;" type="text" class="form-control" display />
                    </div>
                    <div class="col-md-12"  style="display: none">
                        <label><strong>N° Ruta</strong></label>
                        <input id="txtNroRutaEditar" name="NRO_RUTA" autofocus style="width:100% !important" type="text" class="form-control" />
                    </div>

                    <div class="col-md-12">
                        <label><strong>Nombre</strong></label>
                        <input id="txtNombreRutaEditar" name="NOMBRE" style="width:100% !important" type="text" class="form-control" />
                    </div>

                    <div class="col-md-12">
                        <label><strong>Distritos</strong></label>
                        <input id="txtDistritosEditar" name="DISTRITOS" style="width:100% !important" type="text" class="form-control" />
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="btnEditarRuta" onclick="editarRuta()" class="btn btn-info" type="button">
                    Guardar
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {

    });

    function editarRuta() {

        if ($('#txtNroRutaEditar').val().length == 0) {
            Swal.fire({
                type: 'info',
                title: "Debe llenar los campos obligatorios para realizar la modificacion.",
                showConfirmButton: false,
                //timer: 2000
            });
            return false;
        }

        $.ajax({
            url: URL_EDITAR_RUTA,
            dataType: 'json',
            data: {
                idRuta: $('#txtIdRutaE').val(),
                nroRuta: $('#txtNroRutaEditar').val(),
                nombre: $('#txtNombreRutaEditar').val(),
                distritos: $('#txtDistritosEditar').val()
            },
            success: function (result) {
                //
                Swal.fire({
                    type: result.COD_ESTADO == 1 ? 'success' : 'error',
                    title: result.DES_ESTADO,
                    showConfirmButton: false,
                    timer: 2000
                });
                //
                if (result.COD_ESTADO == 1) {
                    $('#modalEditarRuta').modal('hide');
                    getListaRutas();
                }
            }
        }, JSON);
    }


</script>