﻿
@{
    ViewBag.Title = "ProgracionDetallado";
    Layout = "~/Views/Shared/_LayoutInicial_Mobil.cshtml";
    //Layout = "~/Views/Shared/_LayoutInicial.cshtml";

    List<ENTIDADES.CC_RUTA_CORREDOR> Lista_Ruta = ViewBag.Rutas as List<ENTIDADES.CC_RUTA_CORREDOR>;
}

 <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
      <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>  


<script src="~/Content/js/js_programacion_bus/js_PrgDetall.js"></script>
<link href="~/Content/css/css_programacion/LoadingMobil.css" rel="stylesheet" />
<style>
    .ui-selectmenu.ui-popup .ui-input-search {
    margin-left: .5em;
    margin-right: .5em;
}
.ui-selectmenu.ui-dialog .ui-content {
    padding-top: 0;
}
.ui-selectmenu.ui-dialog .ui-selectmenu-list {
    margin-top: 0;
}
.ui-selectmenu.ui-popup .ui-selectmenu-list li.ui-first-child .ui-btn {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-selectmenu.ui-dialog .ui-header {
    border-bottom-width: 1px;
}

    .responsive-table tbody td {
        border-left: 1px solid #1d96b2;
        border-bottom: 1px solid #1d96b2;
        text-align: center;
    }

        .responsive-table tbody td:last-of-type {
            border-right: 1px solid #1d96b2;
        }

    .select_results__option{
border: 2px solid #614e4e;

    }
     
</style>

<br /><br /><br /><br /><br /><br />
<div data-role="page">
     
    <div class="ui-grid-c">
        <div class="ui-block-a" style="width: 88px;margin-left: 7px;">
            <div class="ui-field-contain">
                <label for="select-native-1" style="margin-right: -3px;">Ruta: </label>
                <select name="select-native-1" id="txtRuta">
                    @foreach (var item in Lista_Ruta)
                    {
                        <option value="@item.ID_RUTA">@item.NRO_RUTA</option>
                    }
                </select>

            </div>
        </div>
        <div class="ui-block-b" style="width: 132px;margin-left: 10px;">
            <div class="ui-field-contain">
                <label for="select-native-1">Ruta Serv:</label>

                <select id="txtrutaserv"></select>
            </div>
        </div>
        <div class="ui-block-c" style="width: 70px;margin-left: 10px;">
            <div class="ui-field-contain">
                <label for="select-native-1" style="text-align:center"> Lado:</label>
                <select name="select-native-1" id="txtlado"></select>
                <button id="idsearch" style="width: 44px;margin-top: -45px;margin-left: 79px;" type="button" class="btn btn-info btn-sm" onclick="getListarProgramacionUnidades()">
                    <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg><!-- <span class="fa fa-search"></span> -->
                </button>
            </div>
        </div>
    </div>
    <hr style="margin-top: auto;" />
    <div id="tablaProg" class="ui-content" style="margin-top: -15px;">
        <table id="tbProDet" class="table responsive-table table-sm">
            <thead>
                <tr>
                    <th>CP</th>
                    <th>S</th>
                    <th>F.INICIO</th>
                    <th>PLACA</th>
                    <th>COND</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5" class="text-center" style="font-size: 13px;">Presionar el boton Consultar para obtener la información.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="throbber" class="modal" role="dialog" style="display:none; position:relative; opacity:0.6; background-color:white;">
    <img style="margin: 0 auto;
                position: absolute;
                top: 0; bottom: 0; left:0; right:0;
                margin: auto;
                display: block;
               " src="~/Util/loader.gif" />
</div>





@Html.Partial("_RegistroProgDetall")
@Html.Partial("_RegistroDetallSalida")


<script>
     
    
 
    var URL_GET_LADO_X_RUTA = "@Url.Action("getLado_X_Ruta", "Programacion")";

    var URL_GET_PLACAS = "@Url.Action("getPlaca_Buses", "Programacion")"; 
    var URL_GET_CONDUCTORES = "@Url.Action("getConductores", "Programacion")"; 
     
    var URL_GET_RUTATIPO_SERVICIO = "@Url.Action("getRutaSerOpe_X_modalidad", "Programacion")";
    var URL_GET_GETVIAJES_PROGRUNIDADES = "@Url.Action("getViajes_ProgrUnidades", "Programacion")";
    var URL_GET_GETVIAJES_PROGRX_SERVICIO = "@Url.Action("getviajesProgrServ", "Programacion")";
    var URL_ACTUALIRZAR_VIAJES_PROGR = "@Url.Action("Actulizar_ViajeTiempoReal", "Programacion")";

</script>