﻿
@{
    ViewBag.Title = "MantenimientoPerson";
    Layout = "~/Views/Shared/_LayoutInicial.cshtml";

    List<ENTIDADES.CC_MENUPERFIL_ACCION> Lista_acciones = ViewBag.Accionesview as List<ENTIDADES.CC_MENUPERFIL_ACCION>;
    int ideliminar = 0;
    int idmodificar = 0;
}

<script src="~/Content/plugins/uitablefilter/jquery.uitablefilter.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/css/jasny-bootstrap.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/js/jasny-bootstrap.min.js"></script>

<style>
    .modal-dialog {
        max-width: max-content !important;
    }

    .modal-content input {
        width: 413px;
    }

    .modal-content input {
        width: auto !important;
    }

    .modal-content input {
        width: 213px;
    }
</style>
<br />

<div class="row">
    <div class="col-md-12 text-center">
        <h4>
            Registro Módulo&nbsp;&nbsp;&nbsp;

            @foreach (var item in Lista_acciones)
            {
                if (item.NOMBRE == LOGINPUA.Enumerados.Acciones.EnumAcciones.REGISTRAR.ToString()) //cambiar a enumerado
                {
                    <button type="button" id="modal_registromod" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal">
                        <span class="fa fa-plus"></span>
                    </button>
                }

                if (item.NOMBRE == LOGINPUA.Enumerados.Acciones.EnumAcciones.MODIFICAR.ToString())
                {
                    idmodificar = 1;
                    <input type="text" id="permisoActualiza" value="1" hidden />
                }
                if (item.NOMBRE == LOGINPUA.Enumerados.Acciones.EnumAcciones.ANULAR.ToString())
                {
                    ideliminar = 1;
                    <input type="text" id="permisoEliminar" value="1" hidden />
                }
            }

            <button type="button" class="btn btn-info btn-sm" id="btnBusquedaEnTabla">
                <span class="fa fa-search"></span>
            </button>
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="input-group mb-4" style="margin-bottom:0px !important">
            <div class="input-group-prepend">
                <span class="input-group-text" title="Corredor"><span class="fas fa-bus-alt"></span></span>
            </div>
            <select class="form-control form-control-sm" id="idmodalidad"></select>
        </div>
    </div>
</div>
<hr />
<div class="table-responsive">
    <form>
        <table class="responsive-table" id="tbPerfil" style="width:100%">
            <thead class="thead-azul-claro">
                <tr>
                    <th style="width: 40px;">N°</th>
                    <th class="text-center" style="width: 60px;">NOMBRE</th>
                    <th class="text-center" style="width: 60px;">MODULO</th>
                    <th class="text-center" style="width: 70px;">URL</th>
                    <th style="width: 115px;">USUARIO_REG</th>
                    <th class="text-center" style="width:50px;">FECHA_REG</th>
                    @if (ideliminar == 1)
                    {
                        <th class="text-center" style="width:50px;"></th>
                    }
                    @if (idmodificar == 1)
                    {
                        <th class="text-center" style="width:50px;"></th>
                    }

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="13" class="text-center">Presionar el boton Consultar para obtener la información.</td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
@Html.Partial("_RegistroModulo")
@Html.Partial("_EditarModulo")



<script>
    var URL_GET_LISTAR_MODALIDAD = "@Url.Action("ListarModalidad", "Modulo")";
    var URL_GET_ANULAR_MODULO = "@Url.Action("AnularModulo", "Modulo")";
    var URL_GET_PERFIL = "@Url.Action("ListarModulo", "Modulo")";
    var URL_GET_MODIFICAR_MODULO = "@Url.Action("modificarModulo", "Modulo")";
    var NAME_IMG = "";

    $(document).ready(function () {
        ListarModalidad();

        $('#idmodalidad').on('change', function () {
            var dato = $(this).find("option:selected").text()
            $("#tituloDialog").empty();
            $("#tituloDialog").append(dato);
            ListarModulo($(this).find("option:selected").val());
        });

    });

    $("body").on("click", "#modal_registromod", function () {

        $('#nombre').val('');
        $('#url').val('');
        $('#imageUploadForm').val('');
    });

    function ListarModalidad() {
        $.ajax({
            url: URL_GET_LISTAR_MODALIDAD,
            dataType: 'json',
            success: function (result) {
                $('#idmodalidad').empty();
                if (result.length == 0) { // si la lista esta vacia
                    $('#idmodalidad').append('<option value="0">' + '--No hay información--' + '</option>');
                } else {
                    $.each(result, function () {
                        $('#idmodalidad').append('<option value="' + this.ID_MODALIDAD_TRANS + '">' + this.NOMBRE + '</option>');
                    });
                }
                ListarModulo($('#idmodalidad').val())
            }
        }, JSON);
    }

    function AnularModulo(element) {


        Swal.fire({
            text: "Estas seguro que deseas anular el registro ?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: URL_GET_ANULAR_MODULO,
                    data: {
                        id: element
                    },
                    dataType: 'json',
                    success: function (result) {
                        ListarModulo($('#idmodalidad').val());
                        Swal.fire({
                            type: (result.COD_ESTADO == 1 ? 'success' : 'error'),
                            title: result.DES_ESTADO,
                            showConfirmButton: false,
                            timer: 2500
                        });
                    }
                }, JSON);
            }
        });
    }


    function ListarModulo(idmodalidad) {
        // PERMISOS
        //1= EDITAR || 2==ELIMINAR

        var permiso_edit = $('#permisoActualiza').val();
        var permiso_eliminar = $('#permisoEliminar').val();


        $('#tbPerfil tbody').empty();

        $.ajax({
            url: URL_GET_PERFIL,
            data: {
                id: idmodalidad
            },
            dataType: 'json',
            success: function (result) {

                var strHTML = '';
                var i = 0;
                DATA_LISTA_REGISTROS = result;

                if (result.length == 0) {
                    DATA_LISTA_REGISTROS = [];
                    strHTML += '<tr><td colspan="13" class="text-center">No hay información para mostrar</td></tr>';
                } else {
                    $.each(result, function () {
                        var url = this.URL == null ? " " : this.URL;

                        i++;
                        strHTML += '<tr data-image="' + this.IMAGEN + '" data-ID_MODULO_SISTEMA="' + this.ID_MODULO_SISTEMA + '" data-NOMBRE="' + this.NOMBRE + '" data-NOMBRE_MODALIDAD="' + this.MODALIDAD + '"  data-MODALIDAD="' + this.ID_MODALIDAD_TRANS + '"  data-URL="' + this.URL + '" onclick="seleccionaFila($(this))" ' + '">' +
                                      '<td> ' + i + '</td>' +
                                        '<td>' + this.NOMBRE + '</td>' +
                                        '<td>' + this.MODALIDAD + '</td>' +
                                         '<td>' + url + '</td>' +
                                        '<td class="text-center">' + this.USU_REG + '</td>' +
                                       '<td class="text-center">' + this.FECHA_REG + '</td>' +
                                          (permiso_eliminar == 1 ? '<td>' + '<span class="far fa-trash-alt" aria-hidden="true" style="cursor:pointer;" onclick="AnularModulo(' + this.ID_MODULO_SISTEMA + ');" ></span>' + '</td>' : '') +
                                       (permiso_edit == 1 ? '<td>' + '<span class="far fa-edit btn-edit" aria-hidden="true" style="cursor:pointer;" ></span>&nbsp&nbsp<button style="cursor:pointer;" onclick="EditarModulo_img($(this))"  class="fas fa-images"data-toggle="modal" data-target="#editar_model"></button> </td>' : '') +
                                   '</tr>';
                    });
                }
                $('#tbPerfil tbody').append(strHTML);

                util.activarEnumeradoTabla('#tbPerfil', $('#btnBusquedaEnTabla'));
            }
        }, JSON);
    }




    var POSICIO_CLICK_ROW = null;
    $("body").on("click", ".btn-edit", function () {

        if (POSICIO_CLICK_ROW) {
            $('#tbPerfil tbody').find('tr').eq(POSICIO_CLICK_ROW - 1).find('td:eq(7)').find('button:eq(1)').click()
        }
        POSICIO_CLICK_ROW = Number($(this).parents("tr").find('td').eq(0).text());


        var nombre = $(this).parents("tr").attr('data-NOMBRE');
        var url = $(this).parents("tr").attr('data-URL');

        var idmodalidad = $(this).parents("tr").attr('data-MODALIDAD');
        var selectperfil = $('#idmodalidad').clone();


        $(this).parents("tr").find("td:eq(1)").html('<input name="edit_nombre" type="text" style="text-align:center;color: black;background-color: #51656463;" class="form-control form-control-sm" value="' + nombre + '">');
        var selectperfil = $(this).parents("tr").find("td:eq(2)").html('<select name="edit_modulo" class="form-control form-control-sm" style="color: black;background-color: #51656463;">' + selectperfil.html() + '</select>');
        $(this).parents("tr").find("td:eq(3)").html('<input name="edit_url" type="text" style="text-align:center;color: black;background-color: #51656463;" class="form-control form-control-sm" value="' + url + '">');

        selectperfil.find('select').val(idmodalidad);


        $(this).parents("tr").find("td:eq(7)").prepend("<button class='btn-info btn-xs btn-update' style='margin:0 4px' ><i class='fas fa-check'></i></button>" +
             "<button class='btn-warning btn-xs btn-cancel' style='margin:0 4px'><i class='fas fa-ban'></i></button>")
        $(this).hide();
    });

    $("body").on("click", ".btn-cancel", function () {

        var nombre = $(this).parents("tr").attr('data-NOMBRE');
        var url = $(this).parents("tr").attr('data-URL');
        var id_modalidad = $(this).parents("tr").attr('data-nombre_modalidad');



        $(this).parents("tr").find("td:eq(1)").text(nombre);
        $(this).parents("tr").find("td:eq(2)").text(id_modalidad);
        $(this).parents("tr").find("td:eq(3)").text(url);


        $(this).parents("tr").find(".btn-edit").show();
        $(this).parents("tr").find(".btn-update").remove();
        $(this).parents("tr").find(".btn-cancel").remove();

    });

    $("body").on("click", ".btn-update", function () {

        var nom_modulo = $(this).parents("tr").find("input[name='edit_nombre']").val();
        var id_modalidad = $(this).parents("tr").find("select[name='edit_modulo']").val();
        var url = $(this).parents("tr").find("input[name='edit_url']").val();




        var id_modulo = $(this).parents("tr").attr('data-ID_MODULO_SISTEMA');



        $.ajax({
            url: URL_GET_MODIFICAR_MODULO,
            data: {
                idmodulo: id_modulo,
                id_modalidad: id_modalidad,
                nombre: nom_modulo,
                url: url
            },
            dataType: 'json',
            success: function (result) {
                ListarModulo($('#idmodalidad').val());
                Swal.fire({
                    type: result.COD_ESTADO == 1 ? 'success' : 'error',
                    title: result.DES_ESTADO,
                    showConfirmButton: false,
                });



                $('#exampleModal').modal('hide');
            }
        }, JSON);

        $(this).parents("tr").find(".btn-edit").show();
        $(this).parents("tr").find(".btn-cancel").remove();
        $(this).parents("tr").find(".btn-update").remove();
    });

    function AgregarModulo() {/* modificar para guardar la imagen*/

        var nombre = $('#nombre').val();
        var url = $('#url').val();
        var id_modalidad = $('#idmodalidad').val();
        var formData = new FormData();


        if (id_modalidad == null) {
            Swal.fire({ title: 'Seleccionar Modalidad', type: 'warning', }); return false;
        }

        var totalFiles = document.getElementById("imageUploadForm").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("imageUploadForm").files[i];
            formData.append("imageUploadForm", file);
        }
        $('#consultar').prop('disabled', true).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Guardando...');
        $.ajax({
            type: "POST",
            url: '@Url.Action("AgregarModulo", "Modulo")?idmodalidad=' + id_modalidad +
                                         '&nombre=' + nombre +
                                         '&url=' + url,
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (result) {
                $('#consultar').prop('disabled', false).html('Guardar');



                ListarModulo(id_modalidad);
                $('#exampleModal').modal('hide');
                Swal.fire({
                    type: result.COD_ESTADO == 1 ? 'success' : 'error',
                    title: result.DES_ESTADO,
                    showConfirmButton: false,
                });

            },
            error: function (error) {

            }
        });
    }


    function UpdateModulo_img(elemento) {/* modificar para guardar la imagen*/
        var id_modalidad = $('#idmodalidad').val();
        var formData = new FormData();
        var totalFiles = document.getElementById("imageUploadForm_EDIT").files.length;
        //
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("imageUploadForm_EDIT").files[i];
            formData.append("imageUploadForm_EDIT", file);
        }
        //
        $.ajax({
            type: "POST",
            url: '@Url.Action("Reemplazar_Img", "Modulo")?name_img=' + NAME_IMG,
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (result) {
                $('#imageUploadForm_EDIT').val('');


                ListarModulo(id_modalidad);
                $('#editar_model').modal('hide');
                Swal.fire({
                    type: result.COD_ESTADO == 1 ? 'success' : 'error',
                    title: result.DES_ESTADO,
                    showConfirmButton: false,
                });

            },
            error: function (error) {

            }
        });
    }






    function seleccionaFila(elementFila) {

        $.each($('#tbPerfil tbody > tr'), function () {
            $(this).css('background-color', '');
        });
        elementFila.css('background-color', '#17a2b838');
    }

    function EditarModulo_img(elemento) {
        $('#txtimg_modulo').remove();
        var name_img = elemento.parents("tr").attr('data-image');
        NAME_IMG = "";
        NAME_IMG = name_img;
        $('#id_img').append('<img id="txtimg_modulo"/>');
        var time = '@DateTime.Now.ToString("yyyyMMddhmmss")';

        $('#txtimg_modulo').attr('src', '../Util/Modulo/' + name_img + '?v=' + time);
    }




</script>
