﻿
@{
    ViewBag.Title = "Menu_usuario";
    Layout = "~/Views/Shared/_LayoutInicial.cshtml";

    List<ENTIDADES.CC_MENUPERFIL_ACCION> Lista_acciones = ViewBag.Accionesview as List<ENTIDADES.CC_MENUPERFIL_ACCION>;
    int ideliminar = 0;
    int idmodificar = 0;

}



<style>
    .title {
        cursor: pointer;
    }

    .delete {
        color: red;
    }

    .edit {
        color: black;
    }



    .modal-dialog {
        max-width: max-content !important;
    }

    .modal-content input {
        width: 413px;
    }

    .sombraContenedor {
        background-color: white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .modal-content input {
        width: auto !important;
    }

    .thead-azul-claro th {
        color: white;
        background-color: #2f6f9dd9;
        border-color: #777;
    }

    .dropdown-item {
        color: black !important;
    }

    .tree li {
        list-style-type: none;
        margin: 0;
        padding: 10px 5px 0 5px;
        position: relative;
    }

        .tree li::before,
        .tree li::after {
            content: '';
            left: -20px;
            position: absolute;
            right: auto;
        }

        .tree li::before {
            border-left: 2px solid #000;
            bottom: 50px;
            height: 100%;
            top: 0;
            width: 1px;
        }

        .tree li::after {
            border-top: 2px solid #000;
            height: 20px;
            top: 25px;
            width: 25px;
        }

        .tree li span {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border: 2px solid #000;
            border-radius: 3px;
            display: inline-block;
            padding: 3px 8px;
            text-decoration: none;
            cursor: pointer;
        }

    .tree > ul > li::before,
    .tree > ul > li::after {
        border: 0;
    }

    .tree li:last-child::before {
        height: 27px;
    }

    .tree li span:hover {
        background: #00a39c;
        color: white;
        border: 2px solid #94a0b4;
    }


    span a:hover {
        color: white;
    }


    [aria-expanded="false"] > .expanded,
    [aria-expanded="true"] > .collapsed {
        display: none;
    }

    .tree ul li a {
        color: black;
    }
</style>

<script src="~/Content/js/js_mantenimiento_menu/registro_menus.js@("?v="+ DateTime.Now.ToString("yyyyMMddhmmss"))"></script>
 

<br />

<h3 class="text-center">
    Registro Menú 
    
    @foreach (var item in Lista_acciones)
    {
        if (item.NOMBRE == LOGINPUA.Enumerados.Acciones.EnumAcciones.REGISTRAR.ToString()) //cambiar a enumerado
        {
            <button type="button" id="modal_registromenu" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal">
                <span class="fa fa-plus"></span>
            </button>
        }

        if (item.NOMBRE == LOGINPUA.Enumerados.Acciones.EnumAcciones.MODIFICAR.ToString())
        {
            idmodificar = 1;
            <input type="text" id="permisoActualiza" value="1" hidden />
        }
        if (item.NOMBRE == LOGINPUA.Enumerados.Acciones.EnumAcciones.ANULAR.ToString())
        {
            ideliminar = 1;
            <input type="text" id="permisoEliminar" value="1" hidden />
        }
    }
    
    

</h3>
<br />
&nbsp;&nbsp;
<div class="row">
    <div class="col-md-3">
        <div class="input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text" title="Corredor"><svg class="svg-inline--fa fa-bus-alt fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bus-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M488 128h-8V80c0-44.8-99.2-80-224-80S32 35.2 32 80v48h-8c-13.25 0-24 10.74-24 24v80c0 13.25 10.75 24 24 24h8v160c0 17.67 14.33 32 32 32v32c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-32h192v32c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-32h6.4c16 0 25.6-12.8 25.6-25.6V256h8c13.25 0 24-10.75 24-24v-80c0-13.26-10.75-24-24-24zM160 72c0-4.42 3.58-8 8-8h176c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8H168c-4.42 0-8-3.58-8-8V72zm-48 328c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm128-112H128c-17.67 0-32-14.33-32-32v-96c0-17.67 14.33-32 32-32h112v160zm32 0V128h112c17.67 0 32 14.33 32 32v96c0 17.67-14.33 32-32 32H272zm128 112c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32z"></path></svg><!-- <span class="fas fa-bus-alt"></span> --></span>
            </div>
            <select class="form-control form-control-sm" id="idmodalidad"></select>
        </div>
    </div>
</div>
<hr />
<div style="background-color: #dedede;margin: auto 10px;width: auto;height: 735px;   overflow: scroll;">
    <p></p>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <div class="tree">
        <ul>
            <li>
                <h3 style="" class="text-center" id="mensaje_menu"> </h3>

                <span>
                    <a style="text-decoration:none;" data-toggle="collapse" href="#Web" aria-expanded="true" aria-controls="Web">
                        <i class="collapsed"><i class="fas fa-project-diagram"></i></i>
                        <i class="expanded"><i class="fas fa-project-diagram"></i></i> LOGINPUA
                    </a>

                </span>
                <div id="Web" class="collapse show" style="color:black">
                    <ul id="menu_principal">
                        <!--MODULO-->


                    </ul>
                </div>
            </li>
        </ul>
    </div>

</div>



@Html.Partial("_RegistroMenu")

<script>
    var URL_GET_MODULOS = "@Url.Action("ListarModulos", "Menu_Usuario")";
    var URL_GET_MENU_PADRE = "@Url.Action("listarMenuPadre", "Menu_Usuario")";
    var URL_GET_AGREGAR_MENU = "@Url.Action("AgregarMenu", "Menu_Usuario")";
    var URL_GET_MODULOS_X_ID = "@Url.Action("listarMODULOS_X_ID", "Menu_Usuario")";
    var URL_GET_LISTAR_MODALIDAD = "@Url.Action("listarModalidad", "Perfil")";
    var URL_ANULAR_PERFIL = "@Url.Action("AnularMenu", "Menu_Usuario")";
    var URL_EDITAR_MENU = "@Url.Action("EditarMenu", "Menu_Usuario")";




</script>
