﻿/* Chrome, Safari and Opera syntax */
:-webkit-full-screen {
    background-color: white;
}

/* Firefox syntax */
:-moz-full-screen {
    background-color: white;
}

/* IE/Edge syntax */
:-ms-fullscreen {
    background-color: white;
}

/* Standard syntax */
:fullscreen {
    background-color: white;
}

/* Style the button */
button {
    padding: 20px;
    font-size: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
