﻿@{
    Layout = null;
}
<div class="row"  ng-repeat="x in ListaInput track by $index">
    <div class="col-md-6 mb-3" ng-if="x.EMPNOM == 'OTROS'">
        <label for="01">{{x.EMPNOM}}</label>
        <input type="text" class="form-control" id="01" ng-model="Objeto[$index].USUEMPUSU" disabled="disabled">
    </div>
    <div class="col-md-6 mb-3" ng-if="x.EMPNOM == 'OTROS'">
        <label for="01">Contraseña</label>
        <input type="text" class="form-control" id="01" ng-model="Objeto[$index].USUEMPCON" disabled="disabled">
    </div>
    <div class="col-md-6 mb-3" ng-if="x.EMPNOM != 'OTROS'">
        <label for="01">{{x.EMPNOM}}</label>
        <input type="text" class="form-control" id="01" ng-model="Objeto[$index].USUEMPUSU">
    </div>
    <div class="col-md-6 mb-3" ng-if="x.EMPNOM != 'OTROS'">
        <label for="01">Contraseña</label>
        <input type="text" class="form-control" id="01" ng-model="Objeto[$index].USUEMPCON">
    </div>
</div>