﻿@{
    Layout = null;
}
<div class="row">
    <div class="col-md-4 mb-3">
        <label for="03">Número de Documento</label>
        <input type="text" class="form-control" id="01" ng-model="Objeto.NDOCUMENTO">
    </div>
    <div class="col-md-4 mb-3">

        <label for="01">Nombre</label>
        <input type="text" class="form-control" id="02" ng-model="Objeto.USUNOM">
    </div>
    <div class="col-md-4 mb-3">
        <label for="02">Apellido Paterno</label>
        <input type="text" class="form-control" id="06" ng-model="Objeto.USUAPEPAT">
    </div>
    <div class="col-md-4 mb-3">
        <label for="03">Apellido Materno</label>
        <input type="text" class="form-control" id="04" ng-model="Objeto.USUAPEMAT">
    </div>

    <div class="col-md-4 mb-3">
        <label for="04">Nombre de Usuario</label>
        <input type="text" class="form-control" value="{{Objeto.USUNOM[0]+Objeto.USUAPEPAT}}" disabled="disabled">
    </div>
    <div class="col-md-4 mb-3">
        <label for="03">Perfil</label>
        <select class="form-control" ng-model="Objeto.PERFIL">
            <option value="PROGRAMADOR">PROGRAMADOR</option>
            <option value="SUPERVISOR">SUPERVISOR</option>
            <option value="TRABAJO CAMPO">TRABAJO EN CAMPO</option>
            <option value="ANALISTA">ANALISTA</option>
        </select>

    </div>

    <div class="col-md-4 mb-3">
        <label for="05">Contraseña</label>
        <i class="fas fa-eye-slash" onclick="mostrarContrasena()"></i>
        <input type="password" class="form-control" id="05" ng-model="Objeto.LOGCON">
    </div>



    <div class="col-md-12 row">
        <div class="col-md-6 mb-12">
            <button class="btn  btn-success col-md-4" ng-click="addItems()">Añadir Nuevo Acceso</button>
        </div>







        <div class="col-md-12 mb-12">
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th style="font-size: 12px;" class="text-center">Item</th>
                            <th style="font-size: 12px;" class="text-center">Empresa</th>
                            <th style="font-size: 12px;" class="text-center">Acceso</th>
                            <th style="font-size: 12px;" class="text-center">Habilitado</th>
                            <th style="font-size: 12px;" class="text-center">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Item in Items track by $index">
                            <td><p class="text-center">{{Item.val1}}</p></td>
                            <td ng-if="Objeto[$index].EMPCOD != undefine">
                                <select class="form-control" ng-model="Objeto.EMPCOD[$index]"
                                        ng-change="BuscarAccesos(Objeto.EMPCOD,[$index])" disabled="disabled">
                                    <option ng-repeat="Empresa in ListaEmpresas" value="{{Empresa.EMPCOD}}">{{Empresa.EMPNOM}}</option>
                                </select>
                            </td>
                            <td ng-if="Objeto[$index].EMPCOD == undefine">
                                <select class="form-control" ng-model="Objeto.EMPCOD[$index]"
                                        ng-change="BuscarAccesos(Objeto.EMPCOD,[$index])">
                                    <option ng-repeat="Empresa in ListaEmpresas" value="{{Empresa.EMPCOD}}">{{Empresa.EMPNOM}}</option>
                                </select>
                            </td>
                            <td ng-if="Objeto[$index].EMPCOD != undefine">
                                <select class="form-control" ng-model="Objeto.ACCCOD[$index]" disabled="disabled">
                                    <option ng-repeat="Acceso in ListaAccesos[$index]" value="{{Acceso.ACCCOD}}">{{Acceso.ACCNOM}}</option>
                                </select>
                            </td>
                            <td ng-if="Objeto[$index].EMPCOD == undefine">
                                <select class="form-control" ng-model="Objeto.ACCCOD[$index]">
                                    <option ng-repeat="Acceso in ListaAccesos[$index]" value="{{Acceso.ACCCOD}}">{{Acceso.ACCNOM}}</option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" class="form-control" id="04" ng-model="Objeto.ESTREG[$index]" ng-checked="habilitar(Objeto.ESTREG[$index],[$index])">
                            </td>
                            <td ng-if="Objeto[$index].EMPCOD == undefine"><center><i ng-click="removeItems($index)" class="btn fas fa-trash-alt"></i></center></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function mostrarContrasena() {
        var tipo = document.getElementById("05");
        if (tipo.type == "password") {
            tipo.type = "text";
        } else {
            tipo.type = "password";
        }
    }
</script>