﻿
<style>
    .ms-options {
        min-height: 0;
    }


    legend.scheduler-border {
        width: inherit; /* Or auto */
        padding: 0 10px; /* To give a bit of padding on the left and right */
        border-bottom: none;
    }
</style>

<div class="modal fade" id="EditarModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h6 class="modal-title" id="tituloDialog">Editar Usuario</h6>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <div class="form-group container">

                <fieldset class="border p-1">
                    <legend class="scheduler-border" style="font-size:18px">USUARIO</legend>
                    <div class="control-group">
                        <div class="form-group row">


                            <h3 class="col-sm-2 col-form-label">Contraseña</h3>
                            <div class="col-sm-3">
                                <input type="password" class="form-control" placeholder="Nueva Contraseña" style="width:118%" id="clave_edit" name="name" value="" />
                            </div>
                            <div class="col-sm-1"></div>
                            <h3 class="col-sm-2 col-form-label">Estado</h3>
                            <div class="col-sm-3">
                                <select id="idestado_edit" class="form-control" style="width:120%">
                                    <option value="1">ACTIVO</option>
                                    <option value="2">DESACTIVADO</option>
                                </select>
                            </div>

                        </div>

                    </div>


                </fieldset>

                <br />

                <fieldset class="border p-1">
                    <legend class="scheduler-border" style="font-size:18px">PERFIL POR MODALIDAD</legend>
                    <br />
                    <div class="control-group">
                        <div class="" id="txtmodalidad_perfil">


                        </div>
                    </div>

                </fieldset>

                <div class="modal-footer">
                    <button id="consultar" onclick="Update_Usuario()" class="btn btn-info" type="button">
                        Guardar
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>


