﻿
@{
    ViewBag.Title = "Usuarios_Hacom";
    Layout = null;
}

<div ng-controller="HacomController">

    <div class="table-responsive text-center" style="background-color:white">
        <h2>Usuarios Disponibles Hacom</h2>

        <br /><br /> 
        <table  class="table table-bordered  hover">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Usuario</th>
                    <th>Contraseña</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in datas">
                    <td>{{$index+1}}</td>
                    <td>{{ x.USUREG }}</td>
                    <td>{{ x.PASSWORD }}</td>

                </tr>
            </tbody>
        </table>

    </div>
</div>
