﻿<div class="modal fade" id="modal_editar_inciden">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:600px;margin-left:200px;">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Editar Infraccion</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>

                </button>

            </div>
            <form id="sectionParametrosEditarIncidencia" autocomplete="off">
                <div class="modal-body" style="padding-left: 45px; padding-right: 0px;">

                    <div class="form-group  col-md-6" style="display:none">
                        <div>
                            <input name="" class="form-control" id="TXT_ID_INCIDENCIA" style="display:unset;width:80% ">
                        </div>

                    </div>


                    <div class="control-group">
                        <div class="form-group row">
                            <div class="form-group  col-md-6">
                                <label>PERSONA DE LA INCIDENCIA</label>
                                <div>
                                    <select name="" class="selectpicker" id="selectEditarPersonaIncid" style="display:unset;width:80% "></select>
                                </div>
                            </div>

                            <div class="form-group  col-md-6">
                                <label>FECHA DE INCIDENCIA</label>
                                <div>
                                    <input type="datetime-local" required class="form-control" id="TXT_FECHA_INCIDENCIA_EDITAR" style="display:unset;width:80%;" name="" value="" />
                                </div>
                            </div>

                        </div>
                    </div>



                    <div class="control-group">
                        <div class="form-group row">

                            <div class="form-group  col-md-6">
                                <label>PLACA/PADRON</label>
                                <div class="">
                                    <input required type="text" class="form-control" id="TXT_PLACA_PADRON_EDITAR" style="display:unset;width:80%" name="PLACA_PADRON" value="" />
                                </div>
                            </div>

                            <div class="form-group  col-md-6">
                                <label>CODIGO INFRACCION</label>
                                <div class="">
                                    <select id="selectInfraccionEditar" name="" class="selectpicker" data-live-search="true"></select>
                                </div>
                            </div>

                        </div>
                    </div>



                    <div class="control-group">
                        <div class="form-group row">
                            <div class="form-group  col-md-12">
                                <label>INFRACCION</label>
                                <div class="">
                                    <input name="" id="TXT_DESCRIPCION_INFRACCION" style="display:unset;width:90%" type="text" class="form-control">
                                </div>
                            </div>



                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group row">

                            <div class="form-group col-md-6">

                                <label>DESCRIPCION</label>
                                <div class="">
                                    <textarea name="DESCRIPCION" id="TXT_DESCRIPCION_INCIDENCIA" style="display:unset;width:80%;height: 200px;" type="text" class="form-control"></textarea>
                                </div>

                            </div>

                            <div class="form-group  col-md-6">
                                <label>DESCARGO</label>
                                <div class="">
                                    <textarea name="" id="TXT_DESCARGO" style="display:unset;width:80%;height: 200px;" type="text" class="form-control"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>



                        <div class="modal-footer">
                            <button id="editar_incid_btn" class="btn btn-info" type="submit">Guardar</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </div>
                </form>
            </div>

        </div>
    </div>
