﻿@using LOGINPUA.Util.Knockout;
@model LOGINPUA.Models.LoginModel   
@{
    if (Request.Params["EXIT"] != null)
    {
        if (Request.Params["EXIT"] == "1")
        {
            Session.Clear();
        }
    }
    if (Session["user_login"] != null)
    {
        Response.Redirect("~/Home/Index");
    }
    /*Layout = null;*/
    var ko = Html.CreateKnockoutContext();
    ViewBag.Title = "Login";

}
<div ng-controller="LoginController as LoginAlias">
    <div class="contiene_slider">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" id="item_slider">
                    <img src="@Href("~/Util/Image2/verde2.jpg")" alt="Login" style="width:100%;">
                    <!--div class="carousel-caption">
                        <h3>SISTEMA ÚNICO DE LOGIN</h3>
                        <p>A través de este Inicio puede acceder a todos sus Sistemas</p>
                    </div--> 
                </div>
                <div class="item" id="item_slider">
                    <img src="@Href("~/Util/Image2/img1.jpg")" alt="Login2" style="width:100%;">
                </div>
                <div class="item" id="item_slider">
                    <img src="@Href("~/Util/Image2/img2.jpg")" alt="Login3" style="width:100%;">
                </div>
                <div class="item" id="item_slider">
                    <img src="@Href("~/Util/Image2/imagen4.jpg")" alt="Login4" style="width:100%;">
                </div>
                <div class="item" id="item_slider">
                    <img src="@Href("~/Util/Image2/imagen5.jpg")" alt="Login5" style="width:100%;">
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Corredores complementarios</h2>
                <p>
                    Los corredores complementarios constituyen un sistema de transporte público urbano que opera en la ciudad de Lima, capital del Perú. Está compuesto por una red de líneas o servicios de autobuses urbanos distribuidos en cinco corredores que cubren las principales avenidas de la ciudad
                </p>
            </div>
            <div class="col-md-6">
                <h2>LOGIN</h2>
                <form class="form-signin" id="frmLogin">
                    <label for="txtUsuario" class="sr-only">Usuario</label>
                    <input type="text" id="txtUsuario" class="form-control" placeholder="Ingresa tu Usuario" ng-model="usuarios.LOGUSU" required autofocus />
                    <label for="txtContrasena" class="sr-only">Contraseña</label>
                    <input type="password" id="txtContrasena" class="form-control" placeholder="Ingresa tu Contraseña" ng-model="usuarios.LOGPAS" required />
                    <button class="btn btn-lg btn-primary btn-block" id="btnIngresar" ng-click="btnIngresar(usuarios, this)" type="button">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>