﻿
@{
    if (Request.Params["EXIT"] != null)
    {
        if (Request.Params["EXIT"] == "1")
        {
            Session.Clear();
        }
    }
    if (Session["user_login"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    ViewBag.Title = "Sistemas";
    Layout = "~/Views/Shared/_Layout_corredores_Supervisor.cshtml";

}
<div ng-controller="PermisosController">
    
        <div class="container">
            <div class="sistemas_disponibles">
                <div class="col-md-12 " ng-repeat="Corredor in Acceso.Corredor">

                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <a ng-href="../{{Corredor.ACCDIR}}" my-Target>
                            <img ng-src="../{{Corredor.ACCICO}}" style="width: 100%;border-top-right-radius: 50px;border-bottom-left-radius: 50px; box-shadow: #504f4f 3px 3px;" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <hr ng-if="Activar.Programacion == true" size="1000000" style="height: 1px;  width: 1000%;  background-color: #00a39c;" />
        <br />
        <div class="container">
            <div class="sistemas_disponibles">
                <div class="col-md-12 " ng-repeat="Programacion in Acceso.Programacion">

                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <a ng-href="../{{Programacion.ACCDIR}}" my-Target>
                            <img ng-src="../{{Programacion.ACCICO}}" style="width: 100%;border-top-right-radius: 50px;border-bottom-left-radius: 50px; box-shadow: #504f4f 3px 3px;" />
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <br />
        <hr ng-if="Activar.Otros == true" size="1000000" style="height: 1px;  width: 1000%;  background-color: #00a39c;" />
        <br />
        <div class="container">
            <div class="sistemas_disponibles">
                <div class="col-md-12 " ng-repeat="Otros in Acceso.Otros">

                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <a ng-href="../{{Otros.ACCDIR}}" my-Target>
                            <img ng-src="../{{Otros.ACCICO}}" style="width: 100%;border-top-right-radius: 50px;border-bottom-left-radius: 50px; box-shadow: #504f4f 3px 3px;" />
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@*<div ng-controller="AccesosController">
    <div ng-repeat="item in Accesos">
        <div class="container">
            <div class="">
                <div class="col-md-12 ">

                    <div class="col-md-2 col-sm-4 col-xs-6 cada_cuadrado" ng-if="item.ACCNOM == 'Corredor Rojo'">
                        <a href="@Href("~/Redireccionador/Hacom/1")" target="_blank">
                            <img src="@Href("~/Util/Image/rojo.png")" style="width: 100%;border-top-right-radius: 50px;
    border-bottom-left-radius: 50px; box-shadow: #504f4f 3px 3px;" />
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6 cada_cuadrado"  ng-if="item.ACCNOM == 'Corredor Morado'">
                        <a href="@Href("~/Redireccionador/Abexa/3")" target="_blank">
                            <img src="@Href("~/Util/Image/morado.png")" style="width: 100%;border-top-right-radius: 50px;
    border-bottom-left-radius: 50px; box-shadow: #504f4f 3px 3px;" />
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6 cada_cuadrado"  ng-if="item.ACCNOM == 'Corredor Verde'">
                        <a href="@Href("~/Redireccionador/Abexa/4")" target="_blank">
                            <img src="@Href("~/Util/Image/verde.png")" style="width: 100%;border-top-right-radius: 50px;
    border-bottom-left-radius: 50px; box-shadow: #504f4f 3px 3px;" />
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6 cada_cuadrado"  ng-if="item.ACCNOM == 'Corredor Amarillo'">
                        <a href="@Href("~/Redireccionador/Hacom/2")" target="_blank">
                            <img src="@Href("~/Util/Image/amarillo.png")" style="width: 100%;border-top-right-radius: 50px;
    border-bottom-left-radius: 50px; box-shadow: #504f4f 3px 3px;" />
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6 cada_cuadrado"  ng-if="item.ACCNOM == 'Corredor Azul'">
                        <a href="@Href("~/Redireccionador/Abexa/5")" target="_blank">
                            <img src="@Href("~/Util/Image/azul.png")" style="width: 100%;border-top-right-radius: 50px;
    border-bottom-left-radius: 50px; box-shadow: #504f4f 3px 3px;" />
                        </a>
                    </div>


                </div>
            </div>
        </div>
        <hr size="1000000" style="height: 1px;  width: 1000%;  background-color: #00a39c;" />
        <div class="container">
            <div class="">
                <div class="col-md-12 ">

                    <div class="col-md-2 col-sm-4 col-xs-6 cada_cuadrado">
                        <a href="http://200.37.244.150:8003/BOE/BI" target="_blank">
                            <img src="@Href("~/Util/Image/BI.jpg")" style="width: 100%;border-top-right-radius: 50px; border-bottom-left-radius: 50px; box-shadow: #504f4f 3px 3px;" />
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6 cada_cuadrado">
                        <a href="http://200.37.244.149:8002/avlcc/mapeo" target="_blank">
                            <img src="@Href("~/Util/Image/map.jpg")" style="width: 100%;border-top-right-radius: 50px; border-bottom-left-radius: 50px; box-shadow: #504f4f 3px 3px;" />
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6 cada_cuadrado"  ng-if="item.ACCNOM == 'ProgramadorTest'">
                        <a href="@Href("~/Redireccionador/Abexa/6")" target="_blank">
                            <img src="@Href("~/Util/Image/programando.jfif")" style="width: 100%;border-top-right-radius: 50px; border-bottom-left-radius: 50px; box-shadow: #504f4f 3px 3px;" />
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-6 cada_cuadrado">
                            <a href="http://abexacloud.com/tgpsnw2/" target="_blank">
                                <img src="@Href("~/Util/Image/programando.jfif")" style="width: 70%;border-top-right-radius: 50px; border-bottom-left-radius: 50px; box-shadow: #504f4f 3px 3px;" />
                            </a>
                        </div>

                    <div class="col-md-2 col-sm-4 col-xs-6 cada_cuadrado" ng-if="item.ACCNOM == 'Supervision'">
                        <a href="Href("~/Home/mensaje_error")" target="_blank">
                            <img src="Href("~/Util/Image/supervision.png")" style="width: 100%;border-top-right-radius: 50px; border-bottom-left-radius: 50px; box-shadow: #504f4f 3px 3px;" />
                        </a>
                    </div>


                    <div class="col-md-2 col-sm-4 col-xs-6 cada_cuadrado" ng-if="item.ACCNOM == 'Reportes'">
                        <a href="Href("~/Home/mensaje_error")" target="_blank">
                            <img src="Href("~/Util/Image/reportes.png")" style="width: 100%;border-top-right-radius: 50px; border-bottom-left-radius: 50px; box-shadow: #504f4f 3px 3px;" />
                        </a>
                    </div>


                    <div class="col-md-2 col-sm-4 col-xs-6 cada_cuadrado" ng-if="item.ACCNOM == 'Bitacora'">
                        <a href="Href("~/Home/mensaje_error")" target="_blank">
                            <img src="Href("~/Util/Image/bitacora.png")" style="width: 100%;border-top-right-radius: 50px; border-bottom-left-radius: 50px; box-shadow: #504f4f 3px 3px;" />
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>*@