﻿ body {
            margin: 0;
        }

        .logo {
            position: absolute;
            top: 80;
            right: 50;
            width: 30%;
        }

        .texto {
            font-size: 50px;
            color: red;
            font-weight: bold;
            position: absolute;
            z-index: 10;
        }

        .fondo {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .reclamos_web {
            position: absolute;
            ;
            bottom: 0;
            left: 0;
            width: 30%;
        }

        .infiniteCarousel_item img {
            width: 100%;
        }

        .transparencia {
            position: absolute;
            top: 80;
            left: 50;
            background: #004D89;
            padding: 10px;
            border-radius: 25px;
        }

        .correo {
            position: absolute;
            bottom: 50;
            right: 50;
            width: 250px;
        }