﻿<!DOCTYPE html>
<html ng-app="MyAppLogin">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.:: @ViewBag.Title - PROTRANSPORTE ::.</title>
    @{
        string ruta = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + HttpContext.Current.Request.ApplicationPath;
        if (ruta.Substring(ruta.Length - 1).Equals("/"))
        {
            ruta = ruta.Substring(0, ruta.Length - 1);
        }
    }
    <script type="text/javascript">
        var urlSitio = '@ruta';
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/AngularJs/Login")
    @Scripts.Render("~/SweetAlert")
    @RenderSection("scripts", required: false)
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js'></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img class="imagen_logo" src="@Href("~/Util/image/PT.png")" alt="logoPT" width="360">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            @{
                if (Session["user_login"] != null)
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Cerrar Sesión", "Borrar", "Home")</li>
                        </ul>
                    </div>
                }
            }
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer class="container">
            <p>&copy; @DateTime.Now.Year - PROTRANSPORTE - Corredores Complementarios</p>
        </footer>
    </div>
</body>
</html>
