﻿


@{
//string ruta = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + HttpContext.Current.Request.ApplicationPath;
//if (ruta.Substring(ruta.Length - 1).Equals("/"))
//{
//    ruta = ruta.Substring(0, ruta.Length - 1);
//}


//string action = ViewBag.currentAction as string;
//string controlador = ViewBag.currentRoute as string;
//string menu = "";

//int i = 0;
//var dicMenu_Modulo = (Dictionary<int, LOGINPUA.Models.MenuModels>)Session["modulo_session"];
//List<ENTIDADES.CC_ACCESO_CORREDORES> List_Acceso = (List<ENTIDADES.CC_ACCESO_CORREDORES>)Session["acceso_corredor"];
//ViewBag.Lista_Accesos = List_Acceso;
//var modalidad = 0;
//string menu_modalidad = "";
//int idmodulo = 0;
//string nombmodulo = "";

//Dictionary<string, List<LOGINPUA.Models.MenuModels>> dicMenuP_hijo = new Dictionary<string, List<LOGINPUA.Models.MenuModels>>();

//List<LOGINPUA.Models.MenuModels> listPadres = new List<LOGINPUA.Models.MenuModels>();
//List<LOGINPUA.Models.MenuModels> ListHijos = new List<LOGINPUA.Models.MenuModels>();

//if (dicMenu_Modulo == null)
//{
//    Response.Redirect("~/Home/Sistemas_");
//}
//else
//{
//    foreach (var item in dicMenu_Modulo)
//    {
//        if (item.Value.is_padre == 1)
//        {
//            listPadres.Add(item.Value);
//        }
//    }

//    foreach (var item_padre in listPadres)
//    {
//        List<LOGINPUA.Models.MenuModels> menu_hijos = new List<LOGINPUA.Models.MenuModels>();

//        var nombre_padre = item_padre.nombmenu;
//        foreach (var item_hijo in dicMenu_Modulo)
//        {
//            var menu_hijo = new LOGINPUA.Models.MenuModels();

//            if (item_hijo.Value.is_padre == 0 && item_padre.idmenu == item_hijo.Value.id_menu_padre)
//            {
//                menu_hijo.idmenu = item_hijo.Value.idmenu;
//                menu_hijo.nombmenu = item_hijo.Value.nombmenu;
//                nombmodulo = item_hijo.Value.nomModulo;
//                menu_hijo.url_menu = item_hijo.Value.url_menu;
//                menu_hijo.is_padre = item_hijo.Value.is_padre;
//                menu_hijo.id_menu_padre = item_hijo.Value.id_menu_padre;
//                menu_hijo.idmodulo = item_hijo.Value.idmodulo;
//                menu_hijo.nomModulo = item_hijo.Value.nomModulo;
//                menu_hijo.urlmodulo = item_hijo.Value.urlmodulo;
//                menu_hijo.imgmodulo = item_hijo.Value.imgmodulo;
//                menu_hijo.id_modalidad = item_hijo.Value.id_modalidad;
//                idmodulo = item_hijo.Value.idmodulo;

//                if (action!=null)
//                {
//                    string menufinal = controlador+ '/' + action;
//                    if (menufinal == item_hijo.Value.url_menu)
//                    {
//                        menu = item_hijo.Value.nombmenu;
//                    }
//                }

//                menu_hijos.Add(menu_hijo);
//            }
//        }
//        dicMenuP_hijo.Add(nombre_padre, menu_hijos);
//    }
//}
}

<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>.::PROTRANSPORTE::.</title>
    @*<link href="https://blackrockdigital.github.io/startbootstrap-simple-sidebar/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@

    <link href="~/Content/scss/tableformt.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://demos.codexworld.com/multi-select-dropdown-list-with-checkbox-jquery/multiselect/jquery.multiselect.css" />
    <link href="https://blackrockdigital.github.io/startbootstrap-simple-sidebar/css/simple-sidebar.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/plugins/tooltipster/tooltipster.css" rel="stylesheet" />
    <script src="https://blackrockdigital.github.io/startbootstrap-simple-sidebar/vendor/jquery/jquery.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-simple-sidebar/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/plugins/tooltipster/jquery.tooltipster.min.js"></script>
    <script src="~/Content/plugins/sweetAlert/sweetalert2.js"></script>

    <link rel="stylesheet" href="~/Content/plugins/datepicker/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="~/Content/plugins/sweetAlert/sweetalert2.css" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/css_conductores/bootstrap-select.min.css" />


    <script src="~/Content/plugins/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.4/xlsx.core.min.js"></script>
    <script src="~/Scripts/exportar_excel/FileSaver.js"></script>
    <script src="~/Scripts/exportar_excel/jhxlsx.js"></script>
    <script src="~/Content/plugins/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/plugins/moment/moment.js"></script>
    <script src="~/Scripts/Utilidades/Util.js"></script>
    <script src="~/Content/plugins/numberValidador/numberValidador.js"></script>
    <script src="~/Content/js/all.min.js"></script>
    <script src="~/Content/js/bootstrap-select.js"></script>
    <script src="~/Content/plugins/lodash/lodash.min.js"></script>
    <script>eval(mod_pagespeed_2HaUiZdTC$);</script>
    <link rel="stylesheet" hrui-icon-loadingef="~/Content/css/css_programacion/alertify.css" />
    <script src="~/Content/js/js_programacion/alertify.min.js"></script>
    <script src="http://demos.codexworld.com/multi-select-dropdown-list-with-checkbox-jquery/multiselect/jquery.multiselect.js"></script>
    <script src="~/Content/plugins/uitablefilter/jquery.uitablefilter.js"></script>
    <script src="~/Content/plugins/fancytable/fancyTable.js"></script>

    <!--MOBILE-->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="https://demos.jquerymobile.com/1.4.3/js/jquery.mobile-1.4.3.min.js"></script>

    <link href="~/Content/mobiscroll.jquery.min.css" rel="stylesheet" />
    <script src="~/Content/js/mobiscroll.jquery.min.js"></script>
    <script src="http://malsup.github.io/jquery.blockUI.js"></script>

  

</head>


<body class="conta row" style="overflow: auto">
    <div class="d-flex" id="wrapper" style="display:none">

        <div id="page-content-wrapper">


            @RenderBody()
        </div>
    </div>



</body>
</html>