
 
.caja {
  padding: 40px;
  margin:   30px 250px;
  
  /* IMPORTANTE */
  display: inline-block;
}
body{
	background: #F2F2F2;
}

h2{

	font-size: 3em;
	text-align: center;
	font-family: monospace;
   
 }