﻿<div class="modal fade" id="ModalEditar">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h6 class="modal-title" id="tituloDialog" style="text-align:center;">Editar Rol</h6>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <div class="form-group container">

                <div class="row">

                    
                    <div class="col-sm-4" style="display: none">
                        <input type="text" class="form-control vacios" style="display:unset" id="TXT_ID_ROLPERSONA" name="ID_ROLPERSONA"/>
                    </div>

                    <h3 class="col-sm-3 col-form-label">Nombre</h3>
                    <div class="col-sm-4">
                        <input type="text" class="form-control vacios" style="display:unset" id="TXT_NOMBRE" name="NOMBRE" />
                    </div>

                </div>


                <br />

                <div class="modal-footer">
                    <button id="btnEditarRol" onclick="EditarRol()" class="btn btn-info" type="button">
                        Guardar
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>